<h1>Hola Mundo</h1>
<h2>Estamos usando Flask</h2>

<img src="/static/gatito.jpg">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget dictum lacus. Curabitur molestie blandit mi, ac tristique sem consectetur sed. In consequat ligula mollis lacinia mattis. Duis dictum lectus eget ultricies lacinia. Donec consequat fermentum vestibulum. Nam non risus non eros hendrerit placerat quis eu sapien. Aliquam eleifend lorem ligula, vitae ultrices ipsum ultricies sed. Donec tincidunt est neque, at malesuada sem pharetra non.</p>
