{% extends 'base.html' %}

{% block titulo %}{{ noticia.titular }}{% endblock %}

{% block contenido %}
    <h1>Noticia: {{ noticia.titular }}</h1>
    <h3>{{ noticia.sumilla }}</h3>
    <h4>Escrito por: {{ noticia.autor.first_name }} {{ noticia.autor.last_name }}</h4>
    <h4>Categoría: {{ noticia.categoria.nombre }}</h4>
    <h4>{{ noticia.fecha_publicacion }}</h4>

    {% if noticia.imagen %}
        <img src="{{ noticia.imagen.url }}">
    {% endif %}

    <p>{{ noticia.contenido }}</p>

    <h2>Comentarios</h2>
    <ul>
        {% for comentario in comentarios %}
            <li>{{ comentario.texto }} - {{ comentario.usuario.username }} ({{ comentario.fecha_publicacion }})</li>
        {% endfor %}
    </ul>

    <h2>Comenta</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Comentar">
    </form>
{% endblock %}
